@using ProjetoFinal.Models.Enums

@model ProjetoFinal.Models.ViewModels.SolicitacaoViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<h2>@ViewData["Title"]</h2>

<div class="row form-control">

    <h4>Solicitação</h4>

    <hr />

    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Solicitacao.IdPaciente" class="form-label"></label>
                <select asp-for="Solicitacao.IdPaciente" asp-items="@(new SelectList(Model.Pacientes, "Id",
                "Nome"))" class="form-control form-select">
                    <option value="">Selecione um paciente</option>
                </select>
                <span asp-validation-for="Solicitacao.IdPaciente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Solicitacao.Motivo" class="form-label"></label>
                <input asp-for="Solicitacao.Motivo" class="form-control" />
                <span asp-validation-for="Solicitacao.Motivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Solicitacao.Prioridade" class="form-label"></label>
                <select asp-for="Solicitacao.Prioridade" class="form-control">
                    <option value="">Selecione a prioridade</option>
                    @foreach (var item in Enum.GetValues(typeof(SolicitacaoPrioridade)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Solicitacao.Prioridade" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Solicitacao.NomeMedico" class="form-label"></label>
                <input asp-for="Solicitacao.NomeMedico" class="form-control" />
                <span asp-validation-for="Solicitacao.NomeMedico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Solicitacao.NomeEnfermeiro" class="form-label"></label>
                <input asp-for="Solicitacao.NomeEnfermeiro" class="form-control" />
                <span asp-validation-for="Solicitacao.NomeEnfermeiro" class="text-danger"></span>
            </div>

            <div class="form-group">
                
                <label asp-for="Solicitacao.Observacoes" class="form-label"></label>
                <textarea asp-for="Solicitacao.Observacoes" class="form-control" rows="4"></textarea>

            </div>

            <br />
            <div>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>