@using ProjetoFinal.Models.Enums

@model ProjetoFinal.Models.Leito

@{
    ViewData["Title"] = "Cadastro";
}

<h2>@ViewData["Title"]</h2>

<div class="row form-control">

    <h4>Leito</h4>

    <hr />

    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Codigo" class="form-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoLeito" class="form-label"></label>
                <select asp-for="TipoLeito" class="form-control">
                    <option value="">Selecione o tipo do leito</option>
                    @foreach (var item in Enum.GetValues(typeof(TipoLeito)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="TipoLeito" class="text-danger"></span>
            </div>

            <br />
            <div>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}